*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0 7.5%;
}

h3{
    font-size: 1.5rem;
    color: #262626;
    line-height: 1.5;
    margin: 2rem 0;
}

h4{
    font-size: 1rem;
    color: #262626;
}

a{
    color: #262626;
    
}